 body {
        background-image :url('10.jpg');
        }
   h1,h3,h4 {
	       text-align:center;
		   color:	#696969;
        }
		
    h2 {
	     background-image:url('11.jpg');
        font-family:verdana;
	    color: 	#FFFFFF; 
	    text-align: left;
		 padding-bottom: 10px;
         padding-top: 5px;
          padding-left:10px;
		 letter-spacing: 5px;	
	
	 }
  table {
   
        border: 5px solid #C0C0C0;
        width: 100%; /* Ширина таблицы */
        background: #DCDCDC; /* Цвет фона таблицы */
        border-spacing: 12px; /* Расстояние между ячейками */
	     }
  td, th {
	      border: 10px solid #FFFAF0;
         background: white; 
		 }
  
		 
  button {
       	 color:#0000ff;
		 background-color :#F8F8FF;
		 border-radius: 5px; /* Уголки */
		  }
      nav  {
          display: inline-block;
            padding: 0px;/* Поля вокруг текста */
          		
			             }	
			 
	.but {
	        text-align: center;
			font-size:90%;
			font-weight: bold;
            width: 120px;
             height: 43px;
            float: left;
			 
			 }
    .img1 { 
	     width:50%;
	     height:50%;

		 } 
	 .img2 { 
	     width:100%;
	     height:100%;
		 
		 border-radius: 25px;

		 } 

			 
  .col1
	     {
		 margin: 0% 0% 0% 2%; /* Убираем отступы */ 
         width:70%; /* Ширина колонок */
         float: left; /* Создаем колонки */ 
	      }		
  .col2 { border: 5px solid #C0C0C0;
          width:22%; /* Ширина колонок */
		  float: right; /* Создаем колонки */
	      background: white; /* Цвет фона */ 
       	 padding: 20px;/* Поля вокруг текста */
	          }
	.col3
	     {  background: white; 
		 margin: 2% 0% 0% 2%; /* Убираем отступы */ 
         width:65%; /* Ширина колонок */
         float: left; /* Создаем колонки */ 
		 padding:20px ;
	      }				  
   .vidgyk {border:15px solid #DCDCDC;
            background: #DCDCDC;
                  }
	.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
	content: "";
	
   }
 
  #right { 
          text-align: right; 
		   }
  #akcia {
          color:#FF4500;font-size:25px;padding:135px;
		  }
  #cenaAk 
         { 
		 color:#FF4500;font-size:20px; background-color: #FFD700; padding:5px; 
		 }
   #cena { 
         color:#483D8B;font-size:20px; background-color:#90EE90; padding:5px; margin: 25px 50px 75px 100px;
		 }
	#s { color:#483D8B;font-size:20px; background-color:#90EE90; padding:5px;
         text-decoration: line-through;
          }  
    a:hover {
         color: #DC143C;
                  }	
     .k:hover {cursor: pointer; color: #A52A2A;font-size: 1.02em;}				  
            
	.grow:hover {
           -webkit-transform: scale(1.8);
           -ms-transform: scale(1.8);
           transform: scale(1.8);
           transition: 2s linear;/* Скорость */ 
		    cursor: pointer;
               }
		   
     #knopka2     
		  {
			background-color:#1E90FF;
		   color:white;
		   font-size:100%;
		   border-radius: 7px;
		   }
		   
	 .blok {
          background: #808991;
          color: #FFF;
          cursor: pointer;
             }
     .blok:hover {
          background: #D0D941;
           color: #000;
           } 
		   
		   
	
	 div a[href="#"],[href="new 2.html"] {font-family:verdana;
          text-decoration: none;
          color: #008080;
		  font-weight: 800;
          font-size: 1.2em;
          padding: 15px;
          display:inline-block;
            }
		div a[href="new 2.html"]:hover
	        {
		  background: #D0D941;
           color: #000;
		   }		
	div a[href="#"]:hover
	        {
		  background: #D0D941;
           color: #000;
		   }		
	    ul {
           display: inline;
            margin: 0;
            padding: 0;
            }
       ul li {display: inline-block;}
  ul li:hover {
		      background:none;
			  }
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 


 
 